In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('C:\\Users\\ABCD\\Downloads\\bankorg2.csv')

In [3]:
dataset

,age,job,marital,education,loanpred,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,married,secondary,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,37,management,married,tertiary,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,58,self-employed,married,tertiary,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,36,services,divorced,secondary,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,31,management,single,tertiary,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,49,retired,married,unknown,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,32,technician,married,secondary,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,30,self-employed,single,tertiary,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,55,services,divorced,secondary,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,32,blue-collar,married,secondary,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,52,admin.,divorced,secondary,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,38,unemployed,divorced,secondary,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,60,retired,married,secondary,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,60,retired,divorced,tertiary,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,30,admin.,married,secondary,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,44,unemployed,married,secondary,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,32,blue-collar,married,secondary,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,46,entrepreneur,married,secondary,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,34,management,married,secondary,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,40,management,married,tertiary,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,34,housemaid,married,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,single,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,married,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,married,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,single,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [4]:
dataset["job"].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [5]:
dataset.columns

Index(['age', 'job', 'marital', 'education', 'loanpred', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [6]:
dataset["marital"].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [7]:
dataset["education"].unique()

array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object)

In [8]:
dataset["poutcome"].unique()

array(['unknown', 'other', 'failure', 'success'], dtype=object)

In [9]:
dataset["contact"].unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [10]:
dataset["month"].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [11]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
loanpred     False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [12]:
dataset.iloc[:,0:6]

       age            job   marital  education loanpred  balance
0       59         admin.   married  secondary       no     2343
1       56         admin.   married  secondary       no       45
2       41     technician   married  secondary       no     1270
3       55       services   married  secondary       no     2476
4       54         admin.   married   tertiary       no      184
5       42     management    single   tertiary       no        0
6       56     management   married   tertiary       no      830
7       60        retired  divorced  secondary       no      545
8       37     technician   married  secondary       no        1
9       28       services    single  secondary       no     5090
10      38         admin.    single  secondary       no      100
11      30    blue-collar   married  secondary       no      309
12      29     management   married   tertiary       no      199
13      46    blue-collar    single   tertiary       no      460
14      31     technician    single   tertiary       no      703
15      35     management  divorced   tertiary       no     3837
16      32    blue-collar    single    primary       no      611
17      49       services   married  secondary       no       -8
18      41         admin.   married  secondary       no       55
19      49         admin.  divorced  secondary       no      168
20      28         admin.  divorced  secondary       no      785
21      43     management    single   tertiary       no     2067
22      43     management  divorced   tertiary       no      388
23      43    blue-collar   married    primary       no     -192
24      37     unemployed    single  secondary       no      381
25      35    blue-collar    single  secondary       no       40
26      31     technician    single   tertiary       no       22
27      43    blue-collar    single  secondary       no        3
28      31         admin.   married  secondary       no      307
29      28    blue-collar    single  secondary       no      759
...    ...            ...       ...        ...      ...      ...
11132   32    blue-collar   married  secondary       no     -325
11133   37     management   married   tertiary       no     1594
11134   58  self-employed   married   tertiary       no     2596
11135   36       services  divorced  secondary       no      115
11136   31     management    single   tertiary       no        0
11137   49        retired   married    unknown       no      247
11138   32     technician   married  secondary       no      235
11139   30  self-employed    single   tertiary       no     2593
11140   55       services  divorced  secondary       no     2166
11141   32    blue-collar   married  secondary       no      130
11142   52         admin.  divorced  secondary       no       48
11143   38     unemployed  divorced  secondary       no      189
11144   60        retired   married  secondary       no        0
11145   60        retired  divorced   tertiary       no     -134
11146   30         admin.   married  secondary      yes       23
11147   44     unemployed   married  secondary       no        0
11148   32    blue-collar   married  secondary       no        1
11149   46   entrepreneur   married  secondary       no     3317
11150   34     management   married  secondary       no      355
11151   40     management   married   tertiary       no      917
11152   34      housemaid   married  secondary       no      390
11153   43         admin.    single  secondary       no       35
11154   52     technician   married   tertiary       no      523
11155   35    blue-collar   married  secondary       no       80
11156   34    blue-collar    single  secondary       no      -72
11157   33    blue-collar    single    primary       no        1
11158   39       services   married  secondary       no      733
11159   32     technician    single  secondary       no       29
11160   43     technician   married  secondary       no        0
11161   34     technician   married  secondary       no        0

[11162 rows x 6 columns]

In [13]:
dataset['pdays'].replace(-1,0,inplace=True)

In [14]:
dataset.head()

,age,job,marital,education,loanpred,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,0,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,0,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,0,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,0,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,0,0,unknown,yes

In [15]:
y=dataset.iloc[:,-1:]
x=dataset.drop(columns=["deposit","day"])

In [16]:
y

      deposit
0         yes
1         yes
2         yes
3         yes
4         yes
5         yes
6         yes
7         yes
8         yes
9         yes
10        yes
11        yes
12        yes
13        yes
14        yes
15        yes
16        yes
17        yes
18        yes
19        yes
20        yes
21        yes
22        yes
23        yes
24        yes
25        yes
26        yes
27        yes
28        yes
29        yes
...       ...
11132      no
11133      no
11134      no
11135      no
11136      no
11137      no
11138      no
11139      no
11140      no
11141      no
11142      no
11143      no
11144      no
11145      no
11146      no
11147      no
11148      no
11149      no
11150      no
11151      no
11152      no
11153      no
11154      no
11155      no
11156      no
11157      no
11158      no
11159      no
11160      no
11161      no

[11162 rows x 1 columns]

In [17]:
x

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
0,59,admin.,married,secondary,no,2343,yes,no,unknown,may,1042,1,0,0,unknown
1,56,admin.,married,secondary,no,45,no,no,unknown,may,1467,1,0,0,unknown
2,41,technician,married,secondary,no,1270,yes,no,unknown,may,1389,1,0,0,unknown
3,55,services,married,secondary,no,2476,yes,no,unknown,may,579,1,0,0,unknown
4,54,admin.,married,tertiary,no,184,no,no,unknown,may,673,2,0,0,unknown
5,42,management,single,tertiary,no,0,yes,yes,unknown,may,562,2,0,0,unknown
6,56,management,married,tertiary,no,830,yes,yes,unknown,may,1201,1,0,0,unknown
7,60,retired,divorced,secondary,no,545,yes,no,unknown,may,1030,1,0,0,unknown
8,37,technician,married,secondary,no,1,yes,no,unknown,may,608,1,0,0,unknown
9,28,services,single,secondary,no,5090,yes,no,unknown,may,1297,3,0,0,unknown
10,38,admin.,single,secondary,no,100,yes,no,unknown,may,786,1,0,0,unknown
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,may,1574,2,0,0,unknown
12,29,management,married,tertiary,no,199,yes,yes,unknown,may,1689,4,0,0,unknown
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,may,1102,2,0,0,unknown
14,31,technician,single,tertiary,no,703,yes,no,unknown,may,943,2,0,0,unknown
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,may,1084,1,0,0,unknown
16,32,blue-collar,single,primary,no,611,yes,no,unknown,may,541,3,0,0,unknown
17,49,services,married,secondary,no,-8,yes,no,unknown,may,1119,1,0,0,unknown
18,41,admin.,married,secondary,no,55,yes,no,unknown,may,1120,2,0,0,unknown
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,may,513,1,0,0,unknown
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,may,442,2,0,0,unknown
21,43,management,single,tertiary,no,2067,yes,no,unknown,may,756,1,0,0,unknown
22,43,management,divorced,tertiary,no,388,yes,no,unknown,may,2087,2,0,0,unknown
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,may,1120,2,0,0,unknown
24,37,unemployed,single,secondary,no,381,yes,no,unknown,may,985,2,0,0,unknown
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,may,617,4,0,0,unknown
26,31,technician,single,tertiary,no,22,yes,no,unknown,may,483,3,0,0,unknown
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,may,929,3,0,0,unknown
28,31,admin.,married,secondary,no,307,yes,no,unknown,may,538,1,0,0,unknown
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,may,710,1,0,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,married,secondary,no,-325,yes,yes,unknown,may,171,1,0,0,unknown
11133,37,management,married,tertiary,no,1594,yes,no,cellular,apr,110,1,260,5,failure
11134,58,self-employed,married,tertiary,no,2596,no,no,telephone,nov,15,2,0,0,unknown
11135,36,services,divorced,secondary,no,115,no,no,unknown,jun,201,1,0,0,unknown
11136,31,management,single,tertiary,no,0,yes,no,cellular,sep,76,1,0,0,unknown
11137,49,retired,married,unknown,no,247,no,no,unknown,may,213,2,0,0,unknown
11138,32,technician,married,secondary,no,235,yes,no,telephone,aug,688,6,0,0,unknown
11139,30,self-employed,single,tertiary,no,2593,no,no,unknown,may,662,7,0,0,unknown
11140,55,services,divorced,secondary,no,2166,yes,no,unknown,may,23,17,0,0,unknown
11141,32,blue-collar,married,secondary,no,130,yes,no,cellular,may,302,2,0,0,unknown
11142,52,admin.,divorced,secondary,no,48,no,yes,cellular,nov,591,1,0,0,unknown
11143,38,unemployed,divorced,secondary,no,189,yes,yes,cellular,jul,105,2,0,0,unknown
11144,60,retired,married,secondary,no,0,yes,no,unknown,may,229,1,0,0,unknown
11145,60,retired,divorced,tertiary,no,-134,no,no,cellular,may,243,1,271,4,failure
11146,30,admin.,married,secondary,yes,23,no,yes,cellular,feb,149,2,0,0,unknown
11147,44,unemployed,married,secondary,no,0,no,no,cellular,nov,175,4,0,0,unknown
11148,32,blue-collar,married,secondary,no,1,yes,no,unknown,may,102,1,0,0,unknown
11149,46,entrepreneur,married,secondary,no,3317,no,no,cellular,nov,231,2,0,0,unknown
11150,34,management,married,secondary,no,355,no,no,cellular,aug,314,3,0,0,unknown
11151,40,management,married,tertiary,no,917,yes,no,unknown,may,292,1,0,0,unknown
11152,34,housemaid,married,secondary,no,390,yes,no,cellular,jul,659,3,0,0,unknown
11153,43,admin.,single,secondary,no,35,no,no,telephone,nov,208,1,0,0,unknown
11154,52,technician,married,tertiary,no,523,yes,yes,cellular,jul,113,1,0,0,unknown
11155,35,blue-collar,married,secondary,no,80,yes,yes,cellular,nov,38,2,172,2,failure
11156,34,blue-collar,single,secondary,no,-72,yes,no,cellular,jul,273,5,0,0,unknown
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,apr,257,1,0,0,unknown
11158,39,services,married,secondary,no,733,no,no,unknown,jun,83,4,0,0,unknown
11159,32,technician,single,secondary,no,29,no,no,cellular,aug,156,2,0,0,unknown
11160,43,technician,married,secondary,no,0,no,yes,cellular,may,9,2,172,5,failure
11161,34,technician,married,secondary,no,0,no,no,cellular,jul,628,1,0,0,unknown

In [18]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [19]:
x.iloc[:,1]=lb.fit_transform(x.iloc[:,1])

In [20]:
x

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
0,59,0,married,secondary,no,2343,yes,no,unknown,may,1042,1,0,0,unknown
1,56,0,married,secondary,no,45,no,no,unknown,may,1467,1,0,0,unknown
2,41,9,married,secondary,no,1270,yes,no,unknown,may,1389,1,0,0,unknown
3,55,7,married,secondary,no,2476,yes,no,unknown,may,579,1,0,0,unknown
4,54,0,married,tertiary,no,184,no,no,unknown,may,673,2,0,0,unknown
5,42,4,single,tertiary,no,0,yes,yes,unknown,may,562,2,0,0,unknown
6,56,4,married,tertiary,no,830,yes,yes,unknown,may,1201,1,0,0,unknown
7,60,5,divorced,secondary,no,545,yes,no,unknown,may,1030,1,0,0,unknown
8,37,9,married,secondary,no,1,yes,no,unknown,may,608,1,0,0,unknown
9,28,7,single,secondary,no,5090,yes,no,unknown,may,1297,3,0,0,unknown
10,38,0,single,secondary,no,100,yes,no,unknown,may,786,1,0,0,unknown
11,30,1,married,secondary,no,309,yes,no,unknown,may,1574,2,0,0,unknown
12,29,4,married,tertiary,no,199,yes,yes,unknown,may,1689,4,0,0,unknown
13,46,1,single,tertiary,no,460,yes,no,unknown,may,1102,2,0,0,unknown
14,31,9,single,tertiary,no,703,yes,no,unknown,may,943,2,0,0,unknown
15,35,4,divorced,tertiary,no,3837,yes,no,unknown,may,1084,1,0,0,unknown
16,32,1,single,primary,no,611,yes,no,unknown,may,541,3,0,0,unknown
17,49,7,married,secondary,no,-8,yes,no,unknown,may,1119,1,0,0,unknown
18,41,0,married,secondary,no,55,yes,no,unknown,may,1120,2,0,0,unknown
19,49,0,divorced,secondary,no,168,yes,yes,unknown,may,513,1,0,0,unknown
20,28,0,divorced,secondary,no,785,yes,no,unknown,may,442,2,0,0,unknown
21,43,4,single,tertiary,no,2067,yes,no,unknown,may,756,1,0,0,unknown
22,43,4,divorced,tertiary,no,388,yes,no,unknown,may,2087,2,0,0,unknown
23,43,1,married,primary,no,-192,yes,no,unknown,may,1120,2,0,0,unknown
24,37,10,single,secondary,no,381,yes,no,unknown,may,985,2,0,0,unknown
25,35,1,single,secondary,no,40,yes,no,unknown,may,617,4,0,0,unknown
26,31,9,single,tertiary,no,22,yes,no,unknown,may,483,3,0,0,unknown
27,43,1,single,secondary,no,3,yes,no,unknown,may,929,3,0,0,unknown
28,31,0,married,secondary,no,307,yes,no,unknown,may,538,1,0,0,unknown
29,28,1,single,secondary,no,759,yes,no,unknown,may,710,1,0,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,1,married,secondary,no,-325,yes,yes,unknown,may,171,1,0,0,unknown
11133,37,4,married,tertiary,no,1594,yes,no,cellular,apr,110,1,260,5,failure
11134,58,6,married,tertiary,no,2596,no,no,telephone,nov,15,2,0,0,unknown
11135,36,7,divorced,secondary,no,115,no,no,unknown,jun,201,1,0,0,unknown
11136,31,4,single,tertiary,no,0,yes,no,cellular,sep,76,1,0,0,unknown
11137,49,5,married,unknown,no,247,no,no,unknown,may,213,2,0,0,unknown
11138,32,9,married,secondary,no,235,yes,no,telephone,aug,688,6,0,0,unknown
11139,30,6,single,tertiary,no,2593,no,no,unknown,may,662,7,0,0,unknown
11140,55,7,divorced,secondary,no,2166,yes,no,unknown,may,23,17,0,0,unknown
11141,32,1,married,secondary,no,130,yes,no,cellular,may,302,2,0,0,unknown
11142,52,0,divorced,secondary,no,48,no,yes,cellular,nov,591,1,0,0,unknown
11143,38,10,divorced,secondary,no,189,yes,yes,cellular,jul,105,2,0,0,unknown
11144,60,5,married,secondary,no,0,yes,no,unknown,may,229,1,0,0,unknown
11145,60,5,divorced,tertiary,no,-134,no,no,cellular,may,243,1,271,4,failure
11146,30,0,married,secondary,yes,23,no,yes,cellular,feb,149,2,0,0,unknown
11147,44,10,married,secondary,no,0,no,no,cellular,nov,175,4,0,0,unknown
11148,32,1,married,secondary,no,1,yes,no,unknown,may,102,1,0,0,unknown
11149,46,2,married,secondary,no,3317,no,no,cellular,nov,231,2,0,0,unknown
11150,34,4,married,secondary,no,355,no,no,cellular,aug,314,3,0,0,unknown
11151,40,4,married,tertiary,no,917,yes,no,unknown,may,292,1,0,0,unknown
11152,34,3,married,secondary,no,390,yes,no,cellular,jul,659,3,0,0,unknown
11153,43,0,single,secondary,no,35,no,no,telephone,nov,208,1,0,0,unknown
11154,52,9,married,tertiary,no,523,yes,yes,cellular,jul,113,1,0,0,unknown
11155,35,1,married,secondary,no,80,yes,yes,cellular,nov,38,2,172,2,failure
11156,34,1,single,secondary,no,-72,yes,no,cellular,jul,273,5,0,0,unknown
11157,33,1,single,primary,no,1,yes,no,cellular,apr,257,1,0,0,unknown
11158,39,7,married,secondary,no,733,no,no,unknown,jun,83,4,0,0,unknown
11159,32,9,single,secondary,no,29,no,no,cellular,aug,156,2,0,0,unknown
11160,43,9,married,secondary,no,0,no,yes,cellular,may,9,2,172,5,failure
11161,34,9,married,secondary,no,0,no,no,cellular,jul,628,1,0,0,unknown

In [21]:
x.iloc[:,2]=lb.fit_transform(x.iloc[:,2])

In [22]:
x

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,secondary,no,2343,yes,no,unknown,may,1042,1,0,0,unknown
1,56,0,1,secondary,no,45,no,no,unknown,may,1467,1,0,0,unknown
2,41,9,1,secondary,no,1270,yes,no,unknown,may,1389,1,0,0,unknown
3,55,7,1,secondary,no,2476,yes,no,unknown,may,579,1,0,0,unknown
4,54,0,1,tertiary,no,184,no,no,unknown,may,673,2,0,0,unknown
5,42,4,2,tertiary,no,0,yes,yes,unknown,may,562,2,0,0,unknown
6,56,4,1,tertiary,no,830,yes,yes,unknown,may,1201,1,0,0,unknown
7,60,5,0,secondary,no,545,yes,no,unknown,may,1030,1,0,0,unknown
8,37,9,1,secondary,no,1,yes,no,unknown,may,608,1,0,0,unknown
9,28,7,2,secondary,no,5090,yes,no,unknown,may,1297,3,0,0,unknown
10,38,0,2,secondary,no,100,yes,no,unknown,may,786,1,0,0,unknown
11,30,1,1,secondary,no,309,yes,no,unknown,may,1574,2,0,0,unknown
12,29,4,1,tertiary,no,199,yes,yes,unknown,may,1689,4,0,0,unknown
13,46,1,2,tertiary,no,460,yes,no,unknown,may,1102,2,0,0,unknown
14,31,9,2,tertiary,no,703,yes,no,unknown,may,943,2,0,0,unknown
15,35,4,0,tertiary,no,3837,yes,no,unknown,may,1084,1,0,0,unknown
16,32,1,2,primary,no,611,yes,no,unknown,may,541,3,0,0,unknown
17,49,7,1,secondary,no,-8,yes,no,unknown,may,1119,1,0,0,unknown
18,41,0,1,secondary,no,55,yes,no,unknown,may,1120,2,0,0,unknown
19,49,0,0,secondary,no,168,yes,yes,unknown,may,513,1,0,0,unknown
20,28,0,0,secondary,no,785,yes,no,unknown,may,442,2,0,0,unknown
21,43,4,2,tertiary,no,2067,yes,no,unknown,may,756,1,0,0,unknown
22,43,4,0,tertiary,no,388,yes,no,unknown,may,2087,2,0,0,unknown
23,43,1,1,primary,no,-192,yes,no,unknown,may,1120,2,0,0,unknown
24,37,10,2,secondary,no,381,yes,no,unknown,may,985,2,0,0,unknown
25,35,1,2,secondary,no,40,yes,no,unknown,may,617,4,0,0,unknown
26,31,9,2,tertiary,no,22,yes,no,unknown,may,483,3,0,0,unknown
27,43,1,2,secondary,no,3,yes,no,unknown,may,929,3,0,0,unknown
28,31,0,1,secondary,no,307,yes,no,unknown,may,538,1,0,0,unknown
29,28,1,2,secondary,no,759,yes,no,unknown,may,710,1,0,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,1,1,secondary,no,-325,yes,yes,unknown,may,171,1,0,0,unknown
11133,37,4,1,tertiary,no,1594,yes,no,cellular,apr,110,1,260,5,failure
11134,58,6,1,tertiary,no,2596,no,no,telephone,nov,15,2,0,0,unknown
11135,36,7,0,secondary,no,115,no,no,unknown,jun,201,1,0,0,unknown
11136,31,4,2,tertiary,no,0,yes,no,cellular,sep,76,1,0,0,unknown
11137,49,5,1,unknown,no,247,no,no,unknown,may,213,2,0,0,unknown
11138,32,9,1,secondary,no,235,yes,no,telephone,aug,688,6,0,0,unknown
11139,30,6,2,tertiary,no,2593,no,no,unknown,may,662,7,0,0,unknown
11140,55,7,0,secondary,no,2166,yes,no,unknown,may,23,17,0,0,unknown
11141,32,1,1,secondary,no,130,yes,no,cellular,may,302,2,0,0,unknown
11142,52,0,0,secondary,no,48,no,yes,cellular,nov,591,1,0,0,unknown
11143,38,10,0,secondary,no,189,yes,yes,cellular,jul,105,2,0,0,unknown
11144,60,5,1,secondary,no,0,yes,no,unknown,may,229,1,0,0,unknown
11145,60,5,0,tertiary,no,-134,no,no,cellular,may,243,1,271,4,failure
11146,30,0,1,secondary,yes,23,no,yes,cellular,feb,149,2,0,0,unknown
11147,44,10,1,secondary,no,0,no,no,cellular,nov,175,4,0,0,unknown
11148,32,1,1,secondary,no,1,yes,no,unknown,may,102,1,0,0,unknown
11149,46,2,1,secondary,no,3317,no,no,cellular,nov,231,2,0,0,unknown
11150,34,4,1,secondary,no,355,no,no,cellular,aug,314,3,0,0,unknown
11151,40,4,1,tertiary,no,917,yes,no,unknown,may,292,1,0,0,unknown
11152,34,3,1,secondary,no,390,yes,no,cellular,jul,659,3,0,0,unknown
11153,43,0,2,secondary,no,35,no,no,telephone,nov,208,1,0,0,unknown
11154,52,9,1,tertiary,no,523,yes,yes,cellular,jul,113,1,0,0,unknown
11155,35,1,1,secondary,no,80,yes,yes,cellular,nov,38,2,172,2,failure
11156,34,1,2,secondary,no,-72,yes,no,cellular,jul,273,5,0,0,unknown
11157,33,1,2,primary,no,1,yes,no,cellular,apr,257,1,0,0,unknown
11158,39,7,1,secondary,no,733,no,no,unknown,jun,83,4,0,0,unknown
11159,32,9,2,secondary,no,29,no,no,cellular,aug,156,2,0,0,unknown
11160,43,9,1,secondary,no,0,no,yes,cellular,may,9,2,172,5,failure
11161,34,9,1,secondary,no,0,no,no,cellular,jul,628,1,0,0,unknown

In [23]:
x.iloc[:,3]=lb.fit_transform(x.iloc[:,3])

In [24]:
x

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,no,2343,yes,no,unknown,may,1042,1,0,0,unknown
1,56,0,1,1,no,45,no,no,unknown,may,1467,1,0,0,unknown
2,41,9,1,1,no,1270,yes,no,unknown,may,1389,1,0,0,unknown
3,55,7,1,1,no,2476,yes,no,unknown,may,579,1,0,0,unknown
4,54,0,1,2,no,184,no,no,unknown,may,673,2,0,0,unknown
5,42,4,2,2,no,0,yes,yes,unknown,may,562,2,0,0,unknown
6,56,4,1,2,no,830,yes,yes,unknown,may,1201,1,0,0,unknown
7,60,5,0,1,no,545,yes,no,unknown,may,1030,1,0,0,unknown
8,37,9,1,1,no,1,yes,no,unknown,may,608,1,0,0,unknown
9,28,7,2,1,no,5090,yes,no,unknown,may,1297,3,0,0,unknown
10,38,0,2,1,no,100,yes,no,unknown,may,786,1,0,0,unknown
11,30,1,1,1,no,309,yes,no,unknown,may,1574,2,0,0,unknown
12,29,4,1,2,no,199,yes,yes,unknown,may,1689,4,0,0,unknown
13,46,1,2,2,no,460,yes,no,unknown,may,1102,2,0,0,unknown
14,31,9,2,2,no,703,yes,no,unknown,may,943,2,0,0,unknown
15,35,4,0,2,no,3837,yes,no,unknown,may,1084,1,0,0,unknown
16,32,1,2,0,no,611,yes,no,unknown,may,541,3,0,0,unknown
17,49,7,1,1,no,-8,yes,no,unknown,may,1119,1,0,0,unknown
18,41,0,1,1,no,55,yes,no,unknown,may,1120,2,0,0,unknown
19,49,0,0,1,no,168,yes,yes,unknown,may,513,1,0,0,unknown
20,28,0,0,1,no,785,yes,no,unknown,may,442,2,0,0,unknown
21,43,4,2,2,no,2067,yes,no,unknown,may,756,1,0,0,unknown
22,43,4,0,2,no,388,yes,no,unknown,may,2087,2,0,0,unknown
23,43,1,1,0,no,-192,yes,no,unknown,may,1120,2,0,0,unknown
24,37,10,2,1,no,381,yes,no,unknown,may,985,2,0,0,unknown
25,35,1,2,1,no,40,yes,no,unknown,may,617,4,0,0,unknown
26,31,9,2,2,no,22,yes,no,unknown,may,483,3,0,0,unknown
27,43,1,2,1,no,3,yes,no,unknown,may,929,3,0,0,unknown
28,31,0,1,1,no,307,yes,no,unknown,may,538,1,0,0,unknown
29,28,1,2,1,no,759,yes,no,unknown,may,710,1,0,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,1,1,1,no,-325,yes,yes,unknown,may,171,1,0,0,unknown
11133,37,4,1,2,no,1594,yes,no,cellular,apr,110,1,260,5,failure
11134,58,6,1,2,no,2596,no,no,telephone,nov,15,2,0,0,unknown
11135,36,7,0,1,no,115,no,no,unknown,jun,201,1,0,0,unknown
11136,31,4,2,2,no,0,yes,no,cellular,sep,76,1,0,0,unknown
11137,49,5,1,3,no,247,no,no,unknown,may,213,2,0,0,unknown
11138,32,9,1,1,no,235,yes,no,telephone,aug,688,6,0,0,unknown
11139,30,6,2,2,no,2593,no,no,unknown,may,662,7,0,0,unknown
11140,55,7,0,1,no,2166,yes,no,unknown,may,23,17,0,0,unknown
11141,32,1,1,1,no,130,yes,no,cellular,may,302,2,0,0,unknown
11142,52,0,0,1,no,48,no,yes,cellular,nov,591,1,0,0,unknown
11143,38,10,0,1,no,189,yes,yes,cellular,jul,105,2,0,0,unknown
11144,60,5,1,1,no,0,yes,no,unknown,may,229,1,0,0,unknown
11145,60,5,0,2,no,-134,no,no,cellular,may,243,1,271,4,failure
11146,30,0,1,1,yes,23,no,yes,cellular,feb,149,2,0,0,unknown
11147,44,10,1,1,no,0,no,no,cellular,nov,175,4,0,0,unknown
11148,32,1,1,1,no,1,yes,no,unknown,may,102,1,0,0,unknown
11149,46,2,1,1,no,3317,no,no,cellular,nov,231,2,0,0,unknown
11150,34,4,1,1,no,355,no,no,cellular,aug,314,3,0,0,unknown
11151,40,4,1,2,no,917,yes,no,unknown,may,292,1,0,0,unknown
11152,34,3,1,1,no,390,yes,no,cellular,jul,659,3,0,0,unknown
11153,43,0,2,1,no,35,no,no,telephone,nov,208,1,0,0,unknown
11154,52,9,1,2,no,523,yes,yes,cellular,jul,113,1,0,0,unknown
11155,35,1,1,1,no,80,yes,yes,cellular,nov,38,2,172,2,failure
11156,34,1,2,1,no,-72,yes,no,cellular,jul,273,5,0,0,unknown
11157,33,1,2,0,no,1,yes,no,cellular,apr,257,1,0,0,unknown
11158,39,7,1,1,no,733,no,no,unknown,jun,83,4,0,0,unknown
11159,32,9,2,1,no,29,no,no,cellular,aug,156,2,0,0,unknown
11160,43,9,1,1,no,0,no,yes,cellular,may,9,2,172,5,failure
11161,34,9,1,1,no,0,no,no,cellular,jul,628,1,0,0,unknown

In [25]:
x.iloc[:,4]=lb.fit_transform(x.iloc[:,4])
x.iloc[:,6]=lb.fit_transform(x.iloc[:,6])
x.iloc[:,7]=lb.fit_transform(x.iloc[:,7])
x.iloc[:,8]=lb.fit_transform(x.iloc[:,8])
x.iloc[:,9]=lb.fit_transform(x.iloc[:,9])
x.iloc[:,-1]=lb.fit_transform(x.iloc[:,-1])

In [26]:
x

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,8,1042,1,0,0,3
1,56,0,1,1,0,45,0,0,2,8,1467,1,0,0,3
2,41,9,1,1,0,1270,1,0,2,8,1389,1,0,0,3
3,55,7,1,1,0,2476,1,0,2,8,579,1,0,0,3
4,54,0,1,2,0,184,0,0,2,8,673,2,0,0,3
5,42,4,2,2,0,0,1,1,2,8,562,2,0,0,3
6,56,4,1,2,0,830,1,1,2,8,1201,1,0,0,3
7,60,5,0,1,0,545,1,0,2,8,1030,1,0,0,3
8,37,9,1,1,0,1,1,0,2,8,608,1,0,0,3
9,28,7,2,1,0,5090,1,0,2,8,1297,3,0,0,3
10,38,0,2,1,0,100,1,0,2,8,786,1,0,0,3
11,30,1,1,1,0,309,1,0,2,8,1574,2,0,0,3
12,29,4,1,2,0,199,1,1,2,8,1689,4,0,0,3
13,46,1,2,2,0,460,1,0,2,8,1102,2,0,0,3
14,31,9,2,2,0,703,1,0,2,8,943,2,0,0,3
15,35,4,0,2,0,3837,1,0,2,8,1084,1,0,0,3
16,32,1,2,0,0,611,1,0,2,8,541,3,0,0,3
17,49,7,1,1,0,-8,1,0,2,8,1119,1,0,0,3
18,41,0,1,1,0,55,1,0,2,8,1120,2,0,0,3
19,49,0,0,1,0,168,1,1,2,8,513,1,0,0,3
20,28,0,0,1,0,785,1,0,2,8,442,2,0,0,3
21,43,4,2,2,0,2067,1,0,2,8,756,1,0,0,3
22,43,4,0,2,0,388,1,0,2,8,2087,2,0,0,3
23,43,1,1,0,0,-192,1,0,2,8,1120,2,0,0,3
24,37,10,2,1,0,381,1,0,2,8,985,2,0,0,3
25,35,1,2,1,0,40,1,0,2,8,617,4,0,0,3
26,31,9,2,2,0,22,1,0,2,8,483,3,0,0,3
27,43,1,2,1,0,3,1,0,2,8,929,3,0,0,3
28,31,0,1,1,0,307,1,0,2,8,538,1,0,0,3
29,28,1,2,1,0,759,1,0,2,8,710,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,1,1,1,0,-325,1,1,2,8,171,1,0,0,3
11133,37,4,1,2,0,1594,1,0,0,0,110,1,260,5,0
11134,58,6,1,2,0,2596,0,0,1,9,15,2,0,0,3
11135,36,7,0,1,0,115,0,0,2,6,201,1,0,0,3
11136,31,4,2,2,0,0,1,0,0,11,76,1,0,0,3
11137,49,5,1,3,0,247,0,0,2,8,213,2,0,0,3
11138,32,9,1,1,0,235,1,0,1,1,688,6,0,0,3
11139,30,6,2,2,0,2593,0,0,2,8,662,7,0,0,3
11140,55,7,0,1,0,2166,1,0,2,8,23,17,0,0,3
11141,32,1,1,1,0,130,1,0,0,8,302,2,0,0,3
11142,52,0,0,1,0,48,0,1,0,9,591,1,0,0,3
11143,38,10,0,1,0,189,1,1,0,5,105,2,0,0,3
11144,60,5,1,1,0,0,1,0,2,8,229,1,0,0,3
11145,60,5,0,2,0,-134,0,0,0,8,243,1,271,4,0
11146,30,0,1,1,1,23,0,1,0,3,149,2,0,0,3
11147,44,10,1,1,0,0,0,0,0,9,175,4,0,0,3
11148,32,1,1,1,0,1,1,0,2,8,102,1,0,0,3
11149,46,2,1,1,0,3317,0,0,0,9,231,2,0,0,3
11150,34,4,1,1,0,355,0,0,0,1,314,3,0,0,3
11151,40,4,1,2,0,917,1,0,2,8,292,1,0,0,3
11152,34,3,1,1,0,390,1,0,0,5,659,3,0,0,3
11153,43,0,2,1,0,35,0,0,1,9,208,1,0,0,3
11154,52,9,1,2,0,523,1,1,0,5,113,1,0,0,3
11155,35,1,1,1,0,80,1,1,0,9,38,2,172,2,0
11156,34,1,2,1,0,-72,1,0,0,5,273,5,0,0,3
11157,33,1,2,0,0,1,1,0,0,0,257,1,0,0,3
11158,39,7,1,1,0,733,0,0,2,6,83,4,0,0,3
11159,32,9,2,1,0,29,0,0,0,1,156,2,0,0,3
11160,43,9,1,1,0,0,0,1,0,8,9,2,172,5,0
11161,34,9,1,1,0,0,0,0,0,5,628,1,0,0,3

In [27]:
y.iloc[:,-1]=lb.fit_transform(y.iloc[:,-1])

In [28]:
y

       deposit
0            1
1            1
2            1
3            1
4            1
5            1
6            1
7            1
8            1
9            1
10           1
11           1
12           1
13           1
14           1
15           1
16           1
17           1
18           1
19           1
20           1
21           1
22           1
23           1
24           1
25           1
26           1
27           1
28           1
29           1
...        ...
11132        0
11133        0
11134        0
11135        0
11136        0
11137        0
11138        0
11139        0
11140        0
11141        0
11142        0
11143        0
11144        0
11145        0
11146        0
11147        0
11148        0
11149        0
11150        0
11151        0
11152        0
11153        0
11154        0
11155        0
11156        0
11157        0
11158        0
11159        0
11160        0
11161        0

[11162 rows x 1 columns]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [31]:
x_test

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
9058,41,7,1,3,0,88,1,0,0,8,105,1,336,2,0
3279,56,9,1,1,0,1938,0,1,0,3,229,1,192,4,2
6502,30,7,2,1,0,245,0,1,0,5,187,2,0,0,3
9327,34,4,2,2,0,1396,1,0,0,5,630,1,0,0,3
9965,29,9,2,1,0,-13,1,0,0,8,512,3,0,0,3
3212,26,10,2,1,0,632,0,0,0,3,218,1,0,0,3
3032,59,5,1,0,0,2074,0,0,0,2,467,1,186,2,2
10620,46,4,1,2,0,3,0,0,0,1,92,4,0,0,3
4606,61,5,1,1,0,569,0,0,0,1,219,1,0,0,3
1978,35,1,0,1,0,336,1,0,0,8,191,1,346,2,0
2669,51,10,1,1,0,1416,0,0,0,11,345,1,0,0,3
6137,32,9,2,2,0,569,0,1,0,4,348,1,0,0,3
3125,56,5,0,0,0,694,0,0,0,4,144,1,102,1,1
4548,72,5,1,0,0,763,0,0,0,0,384,2,0,0,3
6327,38,1,0,1,0,2998,1,0,2,6,91,1,0,0,3
8466,56,5,1,1,0,415,0,0,0,1,158,2,0,0,3
1218,29,9,2,2,0,673,1,0,0,3,835,3,0,0,3
9213,38,4,1,2,0,-498,0,0,0,1,85,6,0,0,3
4145,47,3,1,1,0,2524,0,0,0,10,105,1,0,0,3
125,35,1,1,0,0,994,1,0,2,8,1349,8,0,0,3
1550,29,1,0,1,0,-19,1,0,0,0,712,4,0,0,3
8554,38,1,1,0,0,668,0,0,2,8,238,1,0,0,3
1461,33,4,1,2,0,0,1,0,0,0,535,3,328,1,0
8751,28,7,2,1,0,60,0,1,0,4,248,1,0,0,3
10882,47,4,1,1,0,1144,0,1,0,4,324,1,0,0,3
4030,32,9,2,3,0,491,0,0,0,10,251,2,91,7,2
10073,43,4,0,2,0,36,0,0,0,3,61,1,193,1,0
5924,47,1,1,1,0,3696,1,0,0,9,635,3,170,2,0
6581,44,0,1,1,0,764,1,0,0,11,232,1,213,1,0
6523,45,4,1,2,0,54,1,0,1,8,107,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10067,44,7,0,1,0,210,0,1,2,8,111,2,0,0,3
10035,41,4,1,2,0,-195,0,1,0,9,112,1,0,0,3
8536,33,9,0,1,0,2,1,0,0,8,600,2,330,17,0
8065,46,4,1,2,0,125,1,0,1,8,81,5,0,0,3
3889,37,9,1,2,0,341,0,0,0,1,287,3,182,3,2
5344,31,4,1,2,0,2344,1,0,0,1,221,6,0,0,3
3078,59,9,1,0,0,4198,0,0,0,4,309,1,91,10,2
8229,32,1,1,0,0,274,1,0,2,8,21,3,0,0,3
2862,62,4,1,2,0,7458,0,0,0,10,212,2,0,0,3
8022,46,0,1,1,0,186,1,0,0,8,643,2,0,0,3
2183,43,4,0,2,0,2367,0,0,0,6,114,1,38,2,1
4772,46,6,1,1,0,548,0,0,0,1,1181,4,0,0,3
2350,37,2,1,2,0,1649,0,1,0,5,140,3,0,0,3
3353,22,9,2,1,0,283,1,0,0,7,254,2,0,0,3
9784,36,9,1,1,0,283,1,1,2,6,56,2,0,0,3
9445,54,9,1,1,0,3967,0,1,0,5,90,3,0,0,3
9929,34,0,2,1,0,846,1,0,0,0,758,2,0,0,3
785,48,0,0,1,0,362,0,0,0,1,529,1,0,0,3
6154,56,9,1,1,0,147,0,0,0,0,203,1,0,0,3
9931,31,7,1,1,0,505,0,0,0,5,773,3,0,0,3
1893,39,4,2,2,0,5073,1,0,0,8,1182,1,286,4,0
3245,38,4,2,2,0,455,1,0,0,3,255,2,555,6,2
6798,43,4,1,2,1,0,0,0,0,1,25,19,0,0,3
9341,60,5,1,1,0,7,0,1,0,1,87,5,0,0,3
8799,29,7,2,1,0,37,0,1,0,5,309,2,0,0,3
6003,26,9,1,2,0,8,1,1,2,8,262,2,0,0,3
5606,30,0,1,1,0,15,1,0,2,8,257,1,0,0,3
4808,35,10,1,0,0,3285,0,0,0,9,1555,2,0,0,3
3697,53,0,2,1,0,654,0,0,2,5,67,1,0,0,3
9952,40,7,1,1,0,3164,1,0,0,0,329,2,0,0,3

In [32]:
y_test

       deposit
9058         0
3279         1
6502         0
9327         0
9965         0
3212         1
3032         1
10620        0
4606         1
1978         1
2669         1
6137         0
3125         1
4548         1
6327         0
8466         0
1218         1
9213         0
4145         1
125          1
1550         1
8554         0
1461         1
8751         0
10882        0
4030         1
10073        0
5924         0
6581         0
6523         0
...        ...
10067        0
10035        0
8536         0
8065         0
3889         1
5344         0
3078         1
8229         0
2862         1
8022         0
2183         1
4772         1
2350         1
3353         1
9784         0
9445         0
9929         0
785          1
6154         0
9931         0
1893         1
3245         1
6798         0
9341         0
8799         0
6003         0
5606         0
4808         1
3697         1
9952         0

[2233 rows x 1 columns]

In [33]:
x_train

,age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
6111,49,4,1,1,0,104,1,0,2,8,285,1,0,0,3
1149,59,5,0,1,0,514,0,0,0,3,261,1,0,0,3
2954,33,1,1,0,0,195,0,0,0,9,984,5,0,0,3
2458,58,10,1,1,0,687,1,0,0,1,221,1,99,2,2
7504,33,0,1,1,0,1077,1,0,0,8,432,3,374,3,1
7310,25,7,2,1,0,382,1,0,2,8,392,1,0,0,3
10078,53,9,2,2,0,1,0,0,0,1,190,1,0,0,3
3800,53,0,2,1,0,2398,1,0,0,1,317,1,180,2,0
8846,37,7,1,1,0,1498,1,0,0,0,107,1,0,0,3
3826,29,4,2,2,0,437,0,0,0,1,504,1,92,1,2
7259,28,1,2,1,0,4054,1,0,0,8,133,2,0,0,3
9779,63,5,0,1,0,859,0,0,0,3,92,1,0,0,3
9405,35,9,2,0,0,744,1,0,0,0,1096,1,0,0,3
1380,77,5,1,1,0,9601,0,0,1,7,515,1,0,0,3
15,35,4,0,2,0,3837,1,0,2,8,1084,1,0,0,3
9450,32,7,2,1,0,72,0,0,0,5,88,9,0,0,3
6086,55,10,1,2,0,5345,0,0,2,8,278,1,0,0,3
10934,31,7,2,1,0,3,1,0,0,8,41,1,0,0,3
32,26,1,2,1,0,82,1,0,2,8,654,1,0,0,3
1617,25,1,2,1,0,0,0,0,0,0,163,1,0,0,3
3253,27,11,2,3,0,326,0,0,0,3,326,1,0,0,3
7372,44,6,2,2,0,18558,1,0,0,9,51,1,190,4,1
5313,45,7,1,1,0,222,0,0,0,1,119,11,0,0,3
4954,40,4,1,2,0,-17,1,1,0,8,474,1,256,1,2
7079,42,1,1,1,0,879,1,0,0,9,140,1,0,0,3
9666,35,9,1,1,0,2019,1,1,0,9,83,2,144,1,0
6287,57,9,1,1,0,458,0,1,0,5,177,3,0,0,3
1213,33,1,2,2,0,700,0,0,0,3,126,1,88,1,2
7466,58,4,2,2,0,1387,1,0,1,3,140,6,6,6,1
9991,53,4,1,2,0,1348,0,1,0,5,120,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,29,0,2,1,0,127,1,1,0,0,314,1,0,0,3
1871,24,7,1,1,0,4500,1,0,0,8,733,2,0,0,3
2046,56,1,1,0,0,827,1,0,1,8,462,4,0,0,3
7877,53,2,1,2,0,1129,0,1,0,5,241,8,0,0,3
4851,37,7,1,1,0,775,0,0,0,1,150,2,0,0,3
5072,71,5,1,0,0,2988,0,0,1,0,130,1,0,0,3
2163,55,0,1,1,0,602,0,0,0,6,324,3,90,2,2
6036,28,1,2,1,0,-193,0,0,0,5,580,7,0,0,3
6921,42,0,1,1,0,947,0,0,0,5,158,2,0,0,3
6216,57,0,1,1,0,4168,1,1,2,8,47,1,0,0,3
11085,60,9,1,0,0,4243,1,0,0,3,387,1,251,1,0
537,41,4,0,3,0,465,1,0,0,5,1508,1,0,0,3
9893,41,9,1,1,0,102,1,1,2,8,387,9,0,0,3
2897,24,8,2,1,0,125,0,0,0,9,263,1,90,1,0
7768,26,1,2,1,0,78,0,0,1,4,43,1,0,0,3
2222,34,10,1,1,0,978,0,0,0,6,262,2,71,1,2
10327,30,4,1,2,0,5381,0,0,0,9,375,1,0,0,3
2599,72,5,1,1,0,1129,0,0,0,1,186,1,0,0,3
705,50,1,1,0,0,4108,1,0,0,1,526,2,0,0,3
3468,63,5,1,0,0,12067,0,0,1,0,660,1,191,1,0
6744,34,1,2,1,0,79,0,1,0,9,104,1,0,0,3
5874,52,0,1,1,0,423,1,1,0,10,139,2,96,7,0
4373,47,4,2,2,0,159,0,0,1,10,220,3,155,3,1
7891,53,4,1,0,0,13901,1,0,0,9,59,1,0,0,3
9225,33,4,1,2,0,0,1,1,0,8,83,2,0,0,3
4859,62,3,1,1,0,2,0,0,0,9,322,1,0,0,3
3264,48,3,1,2,0,5473,0,0,0,3,127,2,184,2,2
9845,36,11,1,1,0,179,0,0,0,1,14,8,0,0,3
10799,31,0,1,1,0,54,1,0,0,9,226,1,0,0,3
2732,60,5,1,0,0,1588,0,0,0,10,728,1,0,0,3

In [34]:
y_train

       deposit
6111         0
1149         1
2954         1
2458         1
7504         0
7310         0
10078        0
3800         1
8846         0
3826         1
7259         0
9779         0
9405         0
1380         1
15           1
9450         0
6086         0
10934        0
32           1
1617         1
3253         1
7372         0
5313         0
4954         1
7079         0
9666         0
6287         0
1213         1
7466         0
9991         0
...        ...
7599         0
1871         1
2046         1
7877         0
4851         1
5072         1
2163         1
6036         0
6921         0
6216         0
11085        0
537          1
9893         0
2897         1
7768         0
2222         1
10327        0
2599         1
705          1
3468         1
6744         0
5874         0
4373         1
7891         0
9225         0
4859         1
3264         1
9845         0
10799        0
2732         1

[8929 rows x 1 columns]

In [35]:
#decision tree

In [36]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion="entropy",random_state=0)

In [37]:
classifier.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [38]:
y_predict=classifier.predict(x_test)
y_predict

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [39]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.767577250335871

In [40]:
#randomforest

In [41]:
from sklearn.ensemble import RandomForestClassifier
rmf=RandomForestClassifier(n_estimators=10,criterion="entropy",random_state=0)

In [42]:
rmf.fit(x_train,y_train)

C:\Users\ABCD\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [43]:
y_predict=rmf.predict(x_test)
y_predict

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.80653828929691

In [45]:
#logistic regression

In [46]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

C:\Users\ABCD\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [47]:
y_predict=classifier.predict(x_test)
y_predict

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [48]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.7881773399014779

In [49]:
#knn

In [50]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
classifier.fit(x_train,y_train)

C:\Users\ABCD\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [51]:
y_predict=classifier.predict(x_test)
y_predict

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [54]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.7317510076130765